body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, black 50%, #2c3e50 50%);
    background-size: 100% 100%; 
    color: #fff;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 20px;
}

h1 {
    color: #ecf0f1;
    text-align: center;
    position: relative;
    top: -250px;
    left: 565px;
}

table {
    max-width: 1000px; 
    padding: 50px;
    background-color: rgba(44, 62, 80, 0.8);
    border: 2px solid #2c3e50;
    box-shadow: 0 0 10px #1abc9c;
    color: #ecf0f1;
    font-size: 20px;
    margin: auto; 
    position: relative;
    right: 525px;
}

input[type="text"], input[type="password"], input[type="username"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #1abc9c;
    background-color: #34495e;
    color: #ecf0f1;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    padding: 20px;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 60px;
}

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background-color: #16a085;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px; 
    text-align: center;  /* Center the text */
    width: 100%;         /* Ensure it takes the full width of the parent cell */
    max-width: 400px;    /* Set a maximum width */
    margin-left: auto;   /* Center horizontally */
    margin-right: auto;  /* Center horizontally */
}

.success-message {
    color: green;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 10px;
}
